/*
!/.gitignore
!/.npmrc
!/.nvmrc
!/LICENSE
!/README.md
!/package.json
!/pnpm-lock.yaml
!/pnpm-workspace.yaml
!/tsconfig.json
!/tsup.config.ts
!/docs/
!/docs/**
!/src/
!/src/**
!/dist/
/dist/*
!/dist/*.js
